<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Classy - Change Password</title>
  </head>
  <body>
    <div class="pure-menu pure-menu-horizontal">
      <a href="#" class="pure-menu-heading pure-menu-link">Classy</a>
    </div>
    <div class="main">
      <form class="pure-form pure-form-stacked" id="login" action="/account_password" method="post" enctype="application/x-www-form-urlencoded">
        <h3>Change your password, {{ user }}?</h3>
        <fieldset>
          <label for="old-pass">Old Password</label>
          <input type="password" name="old-pass" placeholder="notHunter2" required />
          <label for="new-pass">New Password</label>
          <input type="password" id="pass" name="new-pass" placeholder="nowHunter3" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}" title="Must contain at least 1 number, 1 uppercase letter, 1 lowercase letter, and 8-16 characters in total" required />
          <label for="new-pass2">Re-Enter New Password</label>
          <input type="password" name="new-pass2" placeholder="nowHunter3" required oninput="check(this)" />
          <button type="submit" class="pure-button pure-button-primary">Change Password</button>
          <a href="/" type="button" class="pure-button">Cancel</a>
        </fieldset>
      </form>
    </div>
    <script type="text/javascript">
      function check(input) {
        if (input.value != document.getElementById("pass").value) {
          input.setCustomValidity("Passwords must match.");
        } else {
          input.setCustomValidity("");
        }
      }
    </script>
  </body>
</html>