<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <title>Classy</title>
  </head>
  <body>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" class="pure-menu-link">Manage Account</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="/change_password" class="pure-menu-link">Change Password</a>
            </li>
            <li class="pure-menu-item">
              <a href="/delete_account" class="pure-menu-link">Delete Account</a>
            </li>
          </ul>
        </li>
        <li class="pure-menu-item">
          <a href="/logout" class="pure-menu-link">Sign Out</a>
        </li>
      </ul>
    </div>
    <h2>Welcome, {{ user }}.</h2>
    <div id="root"></div>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <script src="../dist/bundle.js"></script>
  </body>
</html>